/* -----------------------INICIO NAVBAR----------------------- */
header nav{
  background-color: rgba(10, 10, 10, .9);
}
header img{
  margin-right: 30px;
}
/* -----------------------FIM NAVBAR----------------------- */



/* -----------------------INICIO INICIO----------------------- */
#inicio{
	position: relative;
	width: 100%;
	height: calc(100vh - 56px);
  background-color: #1C1C1C;
	background-size: cover;
	background-position: center;
	background-image: url('../img/map-image.png');
  margin-top: 56px;
}
.banner-content{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	color: #FFF;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.banner-content h3{
	margin: 0;
	padding: 0;
	font-size: 25px;
	text-align: center;
}
.banner-content p{
  font-size: 30px;
  color: white;
  text-align: center;
}
.banner-content a{
	text-decoration: none;
	color: #FFF;
	padding: 7px 15px;
	border: 1px solid #FFF;
	transition: all .3s ease-in-out;
}
.banner-content a:hover{
	background-color: #fff;
	color: #333;
}
/* -----------------------FIM INICIO----------------------- */



/* -----------------------INICIO METODOLOGIA----------------------- */
#metodologia{
  background-color: #2a2a2a;
}
.acreditamos p{
  font-size: 30px;
  color: white;
}
.ajudamos p{
  font-size: 24px;
  color: white;
}
.acreditamos{
  text-align: justify;
}
.ajudamos{
  text-align: justify;
}
/* -----------------------FIM METODOLOGIA----------------------- */



/* -----------------------INICIO EQUIPE----------------------- */
.player {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
  transition: 0.2s;
  color: black;
  padding-top: 13px;
  background-color: #2a2a2a;
  max-width: 300px;
}
#equipe{
  background-color: #191919;
}
.player a{
  padding: 5px;
}
#equipe .container{
  padding-bottom: 30px;
  text-align: center;
}
.container h6{
  padding-top: 20px;
  padding-bottom: 5px;
  color: silver;
}
.player p{
  color: white;
}
.player a:hover{
  width: 30px;
}
section h4{
  color: white;
  text-align: center;
}
/* -----------------------FIM EQUIPE----------------------- */



/* -----------------------INICIO TRABALHOS----------------------- */
#trabalho{
  background-color: #2a2a2a;
}
/* -----------------------FIM TRABALHOS----------------------- */


/* -----------------------INICIO FRASE----------------------- */
#frase{
	position: relative;
	width: 100%;
	height: calc(100vh - 56px);
  background-color: #1C1C1C;
	background-size: cover;
	background-position: center;
	background-image: url('../img/frase.jpg');
  filter: brightness(70%);
}
.banner-content{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	color: #FFF;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.banner-content p{
  font-size: 30px;
  color: white;
  text-align: center;
  filter: brightness(140%);
  text-shadow: 2px 2px 4px #000000;
}
/* -----------------------FIM FRASE----------------------- */



/* -----------------------INICIO CONTATOS----------------------- */
#contatos{
  background-color: #1C1C1C;
}
/* -----------------------FIM CONTATOS----------------------- */



/* -----------------------INICIO RODAPE----------------------- */
footer{
  background-color: #2a2a2a;
}
footer img{
  margin-top: 40px;
}

/* -----------------------FIM RODAPE----------------------- */
